body {
    background-color: #CDB365;
    color: #392503;
}
form {
    width: fit-content;
    height: fit-content;
    margin: auto;
    background-color: #AD9C47;
}

h1 {
    text-align: center;
}

table {
    border: 1px solid black;
    border-radius: 10px;
}

td {
    border: 1px solid black;
    padding: 10px;
}

#resultQ1,
#resultQ2,
#resultQ3,
#resultQ4,
#resultQ5 {
    min-width: 100px;
    /* background-color: red; */
}
#btnSubmit{
    background-color: #AD9C47;
    color: #392503;
    position: absolute;
    padding: 10px;
    left: 50%;
}